<div class="review">
  <% if user_signed_in? %>
        <% if current_user.admin &&  @borroweds.count != 0 %>

          <h2>Table With Borrowed</h2>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Borrower</th>
                      <th scope="col">Email</th>
                      <th scope="col">Borrowed date</th>
                      <th scope="col">Borrowed days</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
              <% end %>
                  <tbody>
                    <%= render @borroweds %>
                  </tbody>
                  </table>


  <% end %>             

</div>