<h1>Borrowed books</h1><br>
<% if @books.count == 0 %>

  <h2 style="color: Tomato">There are no books currently in this Borrowed</h2>

<% else %>  
<br>
  <div class="row">

    <% @books.each do |book| %>

      <div class="col-md-3">
        <a href="/books/<%= book.id %>">
          <%= image_tag book.book_img.url(:book_index), class: "book" %>
        </a>
        <div class="title">
          <h4><b><%= book.title %></b></h4>
          <p><%= book.author %></p>
        </div>
      </div>  

    <% end %>

  </div>
  
<% end %> 