<%= link_to "Back", root_path, class: "btn btn-custom" %>
<h1>Search Result</h1>

<% if @books.count == 0 %>

  <h2 style="color: Tomato">Not found! please try again</h1>

<% else %> 
  <%= render @books %>
<% end %>