<button class = "btn-custom" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Author
    <span class="caret"></span>
  </button>
          <ul class="dropdown-menu2">
             <% Book.all.each do |book| %>
                  <li>
                    <%= link_to book.author, books_path(author: book.author), class: "link" %>
                  </li>
              <% end %>
          </ul> 